@import './variables/color.scss';
@import './variables/sizes.scss';

$border-width-s: 1px;
$border-width-m: 2px;
$border-width-l: 3px;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-sans: 'Source Serif Pro', serif;




