$color-entity_theme_light: rgb(28, 28, 28);
$color-entity_theme_dark: rgb(255, 255, 255);

.entity-atom {
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.entity-invisible {
  position: absolute;
  color: transparent;
  pointer-events: none;
}
